@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background-color: rgb(248,250,252);
    padding-top: 3rem;
  }
  .active-link {
    border-bottom-width: 4px;
    border-bottom-color: #4299e1; 
    border-bottom-style: solid;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
  
.customcolor{
    background-color: rgb(59,130,246);
}
.custombackground{
  background-color:rgb(230, 237, 253);
}

.text-custom-blue {
    color: rgb(122, 136, 156);
  }
  
  